@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    
}

*{
    padding: 0;
    margin: 0;

}


.wtch-time span {
    font-size: 80px;
    display: inline-block;
    padding: 0px 10px;
}
.wtch-name span {
    font-size: 30px;
    display: inline-block;
    padding: 0px 15px;
}





